<style type="text/css"> .centerDiv { width: 17%; height:100px; margin: 0 auto;  text-align: center;} </style>

<div class="tab-pane active">
  <div class="centerDiv">
    <p>SAMPLE LIST</p>
  </div>
</div>