

<div id="upload" class="center box tab-pane">
  <form id="frm-search" class="margin-all-0" action="/en/search/" method="post">
    <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='b11b37ca126cb5e4a7fbd8a9e1ae5817' /></div>
    <div class="url-chooser center" style="margin-bottom:28px">
      <input id="query" type="text" name="query" placeholder="hash, URL, domain, IP address...">
          <span class="url" style="-moz-user-select: none;">
          </span>
          <span id="query" class="action" style="-moz-user-select: none;">
            Enter Term
          </span>
    </div>
  </form>