<style type="text/css"> .centerDiv { width: 17%; height:100px; margin: 0 auto;  text-align: center;} </style>

<div class="tab-pane active" id="#upload">
  <div class="centerDiv">
  <p>Choose a file</p>
  <form id="frm-file" class="margin-all-0" action="/upload" method="post" enctype="multipart/form-data">
    <div class="file-chooser center">
      <input id="file-choosen" type="file" name="file" size="50">
          <span id="file-name" class="file-name" style="-moz-user-select: none;text-align:left;">
            No file selected
          </span>
          <span class="action" style="-moz-user-select:none;">
            Choose File
          </span>
    </div>
  </form>

  <div class="text-gray">Maximum file size: 64MB</div>

  <div class="margin-top-2 vt-width-60 text-gray">

    By clicking 'Scan it!', you consent to our
    <a href="/en/about/terms-of-service/">Terms of Service</a>
    and allow VirusTotal to <br>
    share this file with the security community.
    See our <a href="/en/about/privacy/">Privacy Policy</a>
    for details.

  </div>

  <div class="margin-top-3">
    <button id="btn-scan-file"
            class="btn btn-primary start xlarge"
            type="submit">Scan it!</button>
  </div>
 </div>
</div>
