<style type="text/css"> .centerDiv { width: 17%; height:20px; margin: 0 auto;  text-align: center;} </style>

<div class="tab-pane active" id="#signatures">
  <div class="centerDiv">
    <p>MANAGE YARA SIGNATURES</p>
  </div>
</div>