<style type="text/css"> .centerDiv { width: 17%; height:20px; margin: 0 auto;  text-align: center;} </style>

<div class="tab-pane active" id="#signatures">
    <div class="container">
    <h5>Add new yara signature <%= link_to '', samples_new_yara_path, :class => 'glyphicon glyphicon-plus btn btn-success' %></h5>
    <h5>Scan samples with available rules <%= link_to '', samples_list_path, :class => 'glyphicon glyphicon-refresh btn btn-info' %></h5>
      </div>
  <% @rules = Dir["app/assets/yara/*.yar"] %>
  <div class="container">
    <div class="list-group">
      <a href="#" class="list-group-item active">Yara Rules</a>
      <% @rules.each do |x| %>
        <a href="#" class="list-group-item"><%= File.basename(x) %></a>
      <% end %>
    </div>
  </div>
</div>