<h1 align="left">
  <b>Malware Samples</b>
  <%= image_tag("biohazard-orb.png", :size => "100x60", :style => "float :left",:crop => :fill) %>
</h1>

<%- all_malz = Sample.all %>

<style type="text/css"> .centerDiv { width: 17%; height:20px; margin: 0 auto;  text-align: center;} </style>
<div id="proftab" class="center">
    <ul class="nav nav-pills">
      <li><%= link_to "samplelist", samples_samplelist_path, :remote => true, :data => {:toggle=>"tab"} %></li>
      <li><%= link_to "yara", samples_yara_path, :remote => true, :data => {:toggle=>"tab"} %></li>
      <li><%= link_to "upload", samples_upload_path, :remote => true, :data => {:toggle=>"tab"} %></li>
  </ul>
</div>
<div class="row">
  <div id="profile" class="span9">
  </div>
</div>