<div class="container" style="float:left">
  <h4>Add New Yara</h4>
  <%= form_tag("/save_sig", method: "get") do %>
      <%= label_tag(:q, '') %>
      <%= text_area_tag(:q, '', size: "60x10") %>
      <%= submit_tag("Save", class: "btn btn-primary") %>
  <% end %>
</div>