<div id="signature" class="center box tab-pane">
  <form id="frm-url" class="margin-all-0" action="/en/url/submission/" method="post">
    <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='b11b37ca126cb5e4a7fbd8a9e1ae5817' /></div>
    <div class="url-chooser center" style="margin-bottom:28px">
      <input id="url" type="text" name="url" placeholder="http://www.example.com/">
          <span class="url" style="-moz-user-select: none;">
          </span>
          <span id="url" class="action" style="-moz-user-select: none;">
            Enter URL
          </span>
    </div>

    <div class="margin-top-1">
      <button id="btn-scan-url" class="btn btn-primary start xlarge"
              type="submit">Scan it!</button>
    </div>
  </form>
</div>