<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Feeds</title>
  <h1>Feeds</h1>
</head>
<body>
<div class="span9">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Last Update</th>
    <th>Run Now</th>
  </tr>
  </thead>
  <tbody>
  <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.name %></td>
        <td><%= feed.url %></td>
        <td><%= feed.last_updated %></td>
        <td>'link to run feed'</td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
</body>
</html>