<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Feeds</title>
  <meta name="description" content="Creating a Zebra table with Twitter Bootstrap. Learn with example of a Zebra Table with Twitter Bootstrap.">
  <link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
  <h1>Feeds</h1>
</head>
<body>
<div class="span9">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Tags</th>
  </tr>
  </thead>
  <tbody>
  <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.name %></td>
        <td><%= feed.url %></td>
        <td><%= feed.tags %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
</body>
</html>