<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Feeds</title>
  <h3>Add Feed <%= link_to '', feeds_new_feed_path, class: 'glyphicon glyphicon-plus btn btn-success' %></h3>
</head>
<body>
<div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Last Update</th>
    <th>Run Now</th>
  </tr>
  </thead>
  <tbody>
  <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.name %></td>
        <td><%= feed.url %></td>
        <td><%= feed.last_updated %></td>
        <td>'link to run feed'</td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
</body>
</html>