<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Feeds</title>
  <h1>Search</h1>
</head>
<body>


  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="input-group">
        <div class="input-group-btn search-panel">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span id="search_concept">Filter by</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#ip">IPv4 Address</a></li>
            <li><a href="#domain">Domain</a></li>
            <li><a href="#source">Source Feed</a></li>
            <li><a href="#sha256">SHA256</a></li>
            <li class="divider"></li>
            <li><a href="#all">Anything</a></li>
          </ul>
        </div>
        <input type="hidden" name="search_param" value="all" id="search_param">
        <input type="text" class="form-control" name="x" placeholder="google.com, 4.2.2.2, etc..">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span
      </div>
    </div>
  </div>


<table class="table table-striped">

  <thead>
  <tr>
    <th>Value</th>
    <th>Type</th>
    <th>Source</th>
    <th>Tags</th>
  </tr>
  </thead>
  <tbody>
  <% @result.each do |item| %>
      <tr>
        <td><%= item.value %></td>
        <td><%= item.kind %></td>
        <td><%= item.source %></td>
        <td><%= item.tags %></td>
      </tr>
  <% end %>
  </tr>
  </tbody>
</table>

</body>
</html>