<h2>Threat Profiles <span class="glyphicon glyphicon-user"></span></h2>

<div class="col-xs-6">
    <div class="list-group">
        <%= link_to 'Test', threats_analysis_path(:profile => 'test'), :class => 'list-group-item' %>
    </div>
</div>