<h2>Threat Tags</h2>

<script type="text/javascript">
    window.onload = function() {
            TagCanvas.Start('myCanvas','tags',{
                textColour: '#008000',
                outlineColour: '#90ee90',
                reverse: true,
                depth: 0.8,
                maxSpeed: 0.05
            });
    };
</script>

<div class="container-fluid">
<div id="myCanvasContainer">
  <canvas width="600" height="600" id="myCanvas">
    <p>Anything in here will be replaced on browsers that support the canvas element</p>
    <div id="tags">
    <% tag_cloud( Element.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag, threats_profile_path(:tag => tag), :class => css_class %>
      <% end %>

      <% tag_cloud( Sample.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag, threats_profile_path(:tag => tag), :class => css_class %>
      <% end %>
     </div>
  </canvas>
</div>
</div>
