html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: gray;
  /* Set the fixed height of the footer here */
  height: 40px;
}

body { padding-bottom: 50px; }
