<div id="profile" class="tree">
  <ul>
    <li>
      <span><i class="glyphicon glyphicon-user"></i> Threat Actor</span>
      <ul id="ioac">
        <li>
          <span class="label label-primary label-as-badge"><i class="glyphicon glyphicon-minus-sign"></i> Indicators of Attack & Compromise (IOAC)</span>
          <ul id="ipv4C2">
            <li>
            <span class="label label-warning label-as-badge"><i class="glyphicon glyphicon-minus-sign"></i> IPv4 C2 Addresses</span>
            <ul id="element">
            <li>
              <a href=""><span><i class="glyphicon glyphicon-info-sign"></i> 8.8.8.8</span> &ndash; This actor utilizes Google's Open DNS server</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="label label-warning label-as-badge"><i class="glyphicon glyphicon-minus-sign"></i> DNS Compromised Sites</span>
          <ul id="dnscomp">
            <li>
              <span><i class="glyphicon glyphicon-info-sign"></i> ads.somecompromisedsite.com</span> &ndash; <a href="">Some poor victim used as a proxy</a>
            </li>
            <li>
              <span><i class="glyphicon glyphicon-info-sign"></i> momandpop.com</span> &ndash; <a href="">Another victim</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="label label-warning label-as-badge"><i class="glyphicon glyphicon-minus-sign"></i> C2 DNS Names</span>
          <ul id="dnsc2">
            <li>
              <a href=""><span><i class="glyphicon glyphicon-info-sign"></i> c2.urpwned.com</span> Main C2 Hostname</a>
            </li>
            <li>
              <a href=""><span><i class="glyphicon glyphicon-info-sign"></i> altc2.urpwned.com</span> Alternate C2 Hostname</a>
            </li>
          </ul>
        </li>
      </ul>
      </li>
        <li>
          <span class="label label-primary label-as-badge"><i class="glyphicon glyphicon-minus-sign"></i> Tactics, Techniques & Procedures (TTP)</span>
          <ul id="ttp">
            <li>
              <span class="label label-danger label-as-badge"><i class="glyphicon glyphicon-minus-sign"></i> MD5 Hashes</span>
              <ul id="md5">
                <li>
                  <a href=""><span><i class="icon-info-sign"></i> 5d41402abc4b2a76b9719d911017c592</span> &ndash; Hash for string 'hello'</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>