<% if user_signed_in? %>
    <script>
        $('#element').tooltip('show')
    </script>
    <li><%= link_to '', edit_user_registration_path, :class => 'navbar-brand glyphicon glyphicon-cog', :data => {:toggle=>"tooltip"}, :title => "Edit Account" %></li>
    <p class="navbar-text">Logged in as: <%= current_user.name %></p>
    <li><%= button_to 'Logout', destroy_user_session_path, :method=>'delete', :class => 'btn btn-default navbar-btn' %></li>
<% else %>
<% end %>