<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(image_tag("malstrom_icon1.png",:size => "45x45"), root_path) %>
       </div>

       <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li><%= render 'layouts/navigation_links' %></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li><%= render 'layouts/navigation_links2' %></li>
            </ul>

    <% else %>
    <!--
        <div class="collapse navbar-collapse pull-right" role="navigation">
          <div>
            <ul class="nav navbar-nav pull-left">
              <li><%# link_to 'Register', new_user_registration_path %></li>
              <li><%#= link_to '', new_user_session_path, :class => 'navbar-brand glyphicon glyphicon-log-in glyphicon-white' %></li>
            </ul>
          </div>
        </div>-->
    <% end %>
  </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="footer">
    <div class="text-center">
      <p><span class="glyphicon glyphicon-info-sign"></span> UAT Student Innovation Project 2015. Developed by <a href="http://t3chm3chanics.wix.com/bdargenbright" target="_blank">Bobby Argenbright</a>.</p>
    </div>
  </div>
</nav>
