<%# add navigation links to this file %>
<% if user_signed_in? %>
    <li><%= link_to 'Feeds', feeds_list_path %></li>
    <li><%= link_to 'Search', search_indicators_path %></li>
    <li><%= link_to 'Indicators', samples_list_path %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>

